:root {
    --purple: #CC8AFF;
    --light-blue: #75D6D8;
    --pink: #FF8A9D;
    --black: #000000;
    --light-gray: #C7C7C7;
    --yellow: #FFCD29;
    --blue: #0D99FF;
    --light-blue:#7AE1E3;
    --light: #F6F6F6;
    --gray: #ACADAC;
    --dark-gray: #686777;
}
