<div class="flex-col space-between">
    <app-nav-bar [mainColor]="'#FFCD29'"></app-nav-bar>
    <div class="landing-container">
        <app-welcome-header [isGallery]="true"></app-welcome-header>
        <div class="flex-col align-center">
            <div class="gallery-container">
                <div *ngFor="let image of allArtWorks; let i = index">
                    <img class="gallery-img" src="{{image}}" *ngIf="i < 12"/>
                </div>
            </div>
            <div class="arfraim-img">
                <img class="arfraim-layout" src="assets/images/arfraim.jpg" (click)="fileUpload.click()" width="279" height="372"/>
                <input type="file" class="file-input"(change)="onFileSelected($event)" #fileUpload>       
            </div>
            <div class="gallery-container mg-top">
                <div *ngFor="let image of allArtWorks; let i = index">
                    <img class="gallery-img" src="{{image}}" *ngIf="i > 12"/>
                </div>
            </div>
        </div>
       
    </div> 
    <app-footer [currentItem]="'gallery'" (selectedItem)="this.utilitiesService.selectedIcon($event)"></app-footer>
</div>
