<div class="flex-col space-between">
    <app-nav-bar [mainColor]="'#0D99FF'"></app-nav-bar>
    <div class="landing-container">
        <app-welcome-header [isArfeProfile]="true"></app-welcome-header>
       <div>
        <div class="profile-title-container">
                <div class="flex profile-title">
                    <p class="bold font-mid-header mg-0">@stacyxoxo</p>
                 <div>
                    <button mat-stroked-button class="icon-button mg-right stroke-button adjust-button font-small light black-color"> 
                        <img width="18px" class=""  src="assets/images/pencil.svg"/>
                       </button>
                    <button mat-stroked-button class="icon-button stroke-button font-small light black-color">
                        <img width="18px" class=""  src="assets/images/settings.svg"/>
                        </button>
                 </div>
                </div>
                <p class="margin-0 font-small italic">Contemporary artist from Berlin, Germany.</p>
        </div>
        <div class="flex space-between bold font-secondary-header mgb-10">
            <p>39 <br> posts</p>
            <p>2.3k <br> followers</p>
            <p>55.7k <br> likes</p>
        </div>
        <div class="profile-upload">
            <button mat-stroked-button class="button blue-button round-button font-secondary-header light">upload new art</button>
        </div>
        <div class="gallery-container mgt-30">
            <img class="gallery-img"  src="assets/images/paintings/painting1.jpg"/>
            <img class="gallery-img"  src="assets/images/paintings/painting2.jpg"/>
            <img class="gallery-img"  src="assets/images/paintings/painting7.jpg"/>
            <img class="gallery-img"  src="assets/images/paintings/painting9.jpg"/>
            <img class="gallery-img"  src="assets/images/paintings/painting10.jpg"/>
            <img class="gallery-img"  src="assets/images/paintings/painting11.jpg"/>
            <img class="gallery-img"  src="assets/images/paintings/painting12.jpg"/>
            <img class="gallery-img"  src="assets/images/paintings/painting13.jpg"/>
            <img class="gallery-img"  src="assets/images/paintings/painting18.jpg"/>
        </div>
       </div>
    </div> 
    <app-footer (selectedItem)="this.utilitiesService.selectedIcon($event)"></app-footer>
</div>
