body, html {
    margin: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.purple-color {
    color: var(--purple);
}

.light-blue-color {
    color: var(--light-blue);
}

.light-gray-color {
    color: var(--light-gray);
}

.pink-color {
    color: var(--pink);
}

.black-color {
    color: var(--black);
}

.gray-color {
    color: var(--gray);
}

.text-align-center {
    text-align: center;
}

.button {
    height: 50px;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.raised-button {
    background-color: var(--black);
    color: white;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
    height: 100%;
}

.main-container {
    margin: auto;
    max-width: 500px;
    padding: 0px 40px;
    height: 100%;
}

.pad-20 {
    padding: 20px;
}

.dark-gray-color {
    color: var(--dark-gray);
}

.white-color {
    color: white;
}

.landing-container {
    padding: 0px 20px;
    height: calc(100% - 182px);
    overflow-y: scroll;
    transform: translateZ(0);
    overflow-x: clip;
}

.pad-0 {
    padding: 0px !important;
}

.margin-0 {
    margin: 0.1rem
}

.adjust-button {
    flex: 0 0 auto;
    margin-right: 20px !important;
}

.stroke-button {
    background-color: transparent;
    border-color: var(--black);
    color: black;
}

.black-button {
    background-color: black;
    color: white;
    border-color: black;
}

.blue-button {
    background-color: var(--blue);
    color: white;
    border-color: black;
}

.round-button {
    border-radius: 30px !important;
}

.second-gray {
    color: var(--gray-2);
}

@media only screen and (max-height: 680px) {
    .button{
      height: 40px !important;
    }
  }

.icon-button {
    border: 1px solid currentColor;
    border-radius: 100rem !important;
    min-width: 2.5rem !important;
    min-height: 2.5rem !important;
    padding: 0rem !important ;
    filter: drop-shadow(0px 3px 13px rgba(0, 0, 0, 0.07)) !important;
    background-color: white !important;
    border: none !important;

}

.heart-button {
    border: 1px solid currentColor;
    border-radius: 100rem !important;
    min-width: 4rem !important;
    min-height: 4rem !important;
    padding: 0rem !important ;
    filter: drop-shadow(0px 3px 13px rgba(0, 0, 0, 0.07)) !important;
    background-color: white !important;
    border: none !important;
    margin-bottom: 1rem !important;

}

.mg-0 {
    margin: 0;
}

.count-item {
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 50%;
    color: white;
    z-index: 100;
    position: fixed;
    bottom: 160px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.menu-layout {
    padding: 0px 20px;
}

.pad-top-0 {
    padding-top: 0 !important;
}
.mg-right {
    margin-right: .4rem !important;
}

.text-center{
    text-align: center !important ;
}

.line-grey {
    display: block;
    height: 10px;
    border: 0;
    border-top: 1px solid var(--gray-2);
    margin: 1em 0;
    padding: 0;
    width: 100%;
    opacity: 0.5;
}

