<div class="flex-col">
    <div class="font-mid-header bold">Hello, <span class="italic">Stacy!</span></div>
    <div class="font-mid-header light" *ngIf="isGallery">Welcome to <span class="bold">the gallery</span></div>
    <div class="font-mid-header light" *ngIf="isMenu">This is <span class="bold">our menu</span></div>
    <div class="font-mid-header light" *ngIf="isShoppingCart">This is <span class="bold">your shopping cart</span></div>
    <div class="font-mid-header light" *ngIf="isPlaceOrder">Thank you for your order!</div>
    <div class="font-mid-header light" *ngIf="isCard">Time to <span class="bold">scan your card</span></div>
    <div class="font-mid-header light" *ngIf="isRanking">Let’s see <span class="bold">your Ranking</span></div>
    <div class="font-mid-header light" *ngIf="isArfeProfile">This is your <span class="bold">ARFÉ profile.</span></div>
    <div class="font-mid-header light" *ngIf="isArtWork">Upload <span class="bold">your art here</span></div>
    <div class="font-mid-header light" *ngIf="isVoting">It's time to <span class="bold">Vote!</span></div>
</div>

