<div class="flex-col space-between">
    <app-nav-bar [mainColor]="'#75D6D8'"></app-nav-bar>
    <div class="landing-container">
        <app-welcome-header [isRanking]="true"></app-welcome-header>
    <div class="flex-col align-center">
        <p>1</p>
        <img class="ranking-img"  src="assets/images/paintings/painting1.jpg"/>
        <div class="flex-col">
          <p class="font-mid-header bold margin-0">LOVE TO SEE YOU SMILE</p>
          <p class="font-regular margin-0">by Stacy <span class="bold">@stacyxoxo</span></p>
          <p class="font-small margin-0">30x20, acrylic on canvas</p>
          <p class="font-regular bold margin-0">1,284 votes</p>
          <p class="font-regular bold margin-0">Your art is trending in the top 4%!</p>
        </div>
    </div>
    </div> 
    <app-footer [currentItem]="'ranking'" (selectedItem)="this.utilitiesService.selectedIcon($event)"></app-footer>
</div>
