<div class="flex-col space-between">
    <app-nav-bar [mainColor]="'black'"></app-nav-bar>
    <div class="landing-container">
        <div class="flex-col space-between">
            <div class="border-one"><img src={{url}}></div>
            <div class="flex-row center mgb-50">
                <button mat-stroked-button class="upload-button stroke-button button adjust-button font-secondary-header bold round-button" (click)="cancel()">cancel</button>
                <button mat-stroked-button class="upload-button button font-secondary-header bold round-button black-button" (click)="upload()">upload</button>
            </div>
        </div>
        
    </div> 
    <app-footer [currentItem]="'gallery'" (selectedItem)="this.utilitiesService.selectedIcon($event)"></app-footer>
</div>
