<div class="gird-footer-container">
    <div class="flex-col align-center pad-20" (click)="onClickedItem('gallery')">
        <div class="icon-height flex align-center">
            <div id="gallery-icon" class="icon-layout"></div>
        </div>
        <div class="font-secondary-small semi-bold">Gallery</div>
    </div>
    <div class="flex-col align-center pad-20" (click)="onClickedItem('menu')">
        <div class="icon-height flex align-center">
            <div id="menu-icon" class="icon-layout"></div>
        </div>
        <div class="font-secondary-small semi-bold">Menu</div>
    </div>
    <div class="flex-col align-center pad-20" (click)="onClickedItem('card')">
        <div class="icon-height flex align-center">
            <div id="card-icon" class="icon-layout"></div>
        </div>
        <div class="font-secondary-small semi-bold">Card</div>
    </div>
    <div class="flex-col align-center pad-20" (click)="onClickedItem('ranking')">
        <div class="icon-height flex align-center">
            <div id="ranking-icon" class="icon-layout"></div>
        </div>
        <div class="font-secondary-small semi-bold">Ranking</div>
    </div>
</div>
