<!-- <div class="flex-col space-between" [@fadeInOut]>
    <app-nav-bar></app-nav-bar> -->
    <div class="landing-container">
        <app-gallery-screen *ngIf="isSelectedGallery" [@slideInOut]></app-gallery-screen>
        <app-all-menu-screen *ngIf="isSelectedMenu" [@slideInOut]></app-all-menu-screen>
        <app-card-screen *ngIf="isSelectedCard" [@slideInOut]></app-card-screen>
        <app-ranking-screen *ngIf="isSelectedRanking" [@slideInOut]></app-ranking-screen>
    </div> 
    <!-- <app-footer (selectedItem)="selectedIcon($event)"></app-footer>
</div> -->

