<div class="main-container" [@fadeInOut]>
    <div class="flex-col space-between">
        <div class="flex-col">
            <div class="flex logo-layout">
                <div id="main-logo" class="picture-layout"></div>
            </div>
            <div class="font-secondary-header black-color bold flex align-center adjust-height">
                Create your account
            </div>
            <div class="gird-2">
                <input type="email" id="email" placeholder="Enter Email" autocomplete="off" required><br>
                <input type="password" id="password" placeholder="Enter Password" autocomplete="off" required>
            </div>
            <div class="recover-password light-gray-color semi-bold font-small">
                Recover Password ?
            </div>
            <br><br>
            <button mat-raised-button class="button raised-button font-secondary-header bold full-button" (click)="navigateToMainScreen()">Sign In</button>
            <br><br>
            <div class="line font-small semi-bold light-gray-color"><span>Or continue with</span></div>
            <br><br>
            <div class="gird-container">
                <button mat-raised-button class="button raised-button font-secondary-header bold gray-bg">
                    <img src="assets/images/google.svg" height="20"/>
                </button>
                <button mat-raised-button class="button raised-button font-secondary-header bold white-bg">
                    <img src="assets/images/apple.svg" height="20"/>
                </button>
                <button mat-raised-button class="button raised-button font-secondary-header bold gray-bg">
                    <img src="assets/images/facebook.svg" height="20"/>
                </button>
            </div>
        </div>
        <div class="flex-row center">
            <div class="flex center skip-step align-center font-small semi-bold gray-color mgr-5" (click)="navigateToMainScreen()">Skip this step</div>
            <div class="flex align-center center mgt-2"><img src="assets/images/arrow.svg" height="10"/></div>
        </div>
    </div>
</div>
