.menuItem-container {
  /* margin: auto; */
  /* max-width: 500px; */
  justify-content:  space-between;
  align-items: flex-start;
  height: 70px;
  padding: 0px 20px;
  margin: 1.5rem 0rem;
}

.menuItem-txt{
  margin: .1rem;

}

.test-bg{
  border-radius: 0 0 100% 100%;
  padding: 2rem 4rem;
}

img {
  height: 350px;
}

.pad-20 {
  padding: 0px 20px 30px 20px !important
}

.button-menu {
  width: 50%;
}

@media only screen and (max-height: 700px) {
  img {
    height: 200px !important;
  }
}

@media only screen and (max-height: 750px) {
  img {
    height: 250px !important;
  }
}

@media only screen and (max-height: 800px) {
  img {
    height: 300px;
  }
}
