<div class="flex-col space-between">
  <div class="flex-col">
    <div class="test-bg flex-col align-center" [style.background-color]="menu?.color">
      <div class="flex">
        <div class="back" (click)="navigateBack()">
          <div id="arrow" class="arrow-layout"></div>
        </div>
        <p class="menuItem-txt font-header black-color bold uppercase text-center">{{menu?.name}}</p>
      </div>
      <div class="flex-row center">
        <div class="flex align-center">
          <div id="left" class="arrow-layout absolute left" (click)="onClickedPrevious()"></div>
        </div>
        <div class="image-layout">
          <img class="image-adjustment" src={{menu?.image}}/>
        </div>

        <div class="flex align-center">
          <div id="right" class="arrow-layout absolute right" (click)="onClickedNext()"></div>
        </div>
      </div>
    </div>
    <div class="menuItem-container flex">
      <div class="menuItem">
        <p class="menuItem-txt font-small">{{menu?.quantity}}</p>
        <p class="menuItem-txt font-small">{{menu?.ingredient}}</p>
      </div>
      <p class="menuItem-txt black-color bold"><span>&#8364;</span>{{menu?.price}}</p>
    </div>
  </div>
  <div class="flex-row center pad-20">
    <button mat-stroked-button class="button stroke-button adjust-button font-secondary-header light button-menu black-color">view cart</button>
    <button mat-stroked-button class="button raised-button font-secondary-header light button-menu">add to cart</button>
  </div>
</div>
