.menuItem-container {
  /* margin: auto; */
  /* max-width: 500px; */
  justify-content:  space-between;
  align-items: flex-start;
  padding: 0px 20px;
  /* margin: 1.5rem 0rem; */
  height: 60px;
}

.menuItem-txt{
  margin: .1rem;
}

.text-center {
  max-width: 250px;
  text-align: center;
  height: 70px;
}

.test-bg{
  border-radius: 0 0 100% 100%;
  padding-bottom: 2rem;
  padding-top: 5px;
}

.image-layout {
  max-height: 350px;
  margin: 30px 0px;
}

.pad-20 {
  padding: 0px 20px 30px 20px !important
}

.button-menu {
  width: 50%;
}

@media only screen and (max-height: 680px) {
  .pad-20 {
    padding: 0px 20px 10px 20px !important
  }
}

@media only screen and (max-height: 700px) {
  .image-layout {
    max-height: 200px !important;
  }
  .image-adjustment {
    height: 150px;
  }
  .text-center {
    height: 30px;
  }
}

@media only screen and (max-height: 800px) {
  .image-layout {
    max-height: 300px;
  }
}

.mgb-10 {
  margin-bottom: 10px;
}

.back {
  position: absolute;
  left: 0;
  padding-left: 20px;
}

#arrow {
  background: url(src/assets/images/arrow-back.svg) no-repeat center;
  background-size: 24px 24px;
  cursor: pointer;
}

.arrow-layout {
  width: 24px;
  height: 24px;
}

#left {
  background: url(src/assets/images/left.svg) no-repeat center;
  background-size: 24px 24px;
  cursor: pointer;
}

#right {
  background: url(src/assets/images/right.svg) no-repeat center;
  background-size: 24px 24px;
  cursor: pointer;
}

.image-adjustment {
  height: 170px;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain
}

.absolute {
  position: absolute;
  margin-bottom: 1rem
}

.left {
  left: 2rem;
}

.right {
  right: 2rem;
}
