<div class="flex-col">
<!-- <div class="test-bg"></div> -->
  <div class="test-bg flex-col align-center">
    <p class="menuItem-txt font-secondary-header black-color bold">Iced LattÉ</p>
    <img src="assets/images/icedCoffee.png"/>
  </div>
<div class="menuItem-container flex" >
  <div class="menuItem">
    <p class="menuItem-txt font-small">300ml</p>
    <p class="menuItem-txt font-small">Espresso with milk, iced</p>
  </div>
<p class="menuItem-txt black-color bold"><span>&#8364;</span>
  4,00</p>
</div>
<button mat-stroked-button class="button stroke-button adjust-button font-secondary-header light">view cart</button>
</div>
